@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

li,
a,
button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.small {
  font-family: Arial, Helvetica, sans-serif;
}

.vc,
p,
h4,
h6{
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 120%;
}
