ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 767px) {
  .button-border {
    border-radius: 17.5px;
    font-size: 13px;
    background-color: #ffe401;
    padding: 2px 10px;
  }
}

@media (min-width: 768px) {
  .button-border {
    border-radius: 18px;
    font-size: 18px;
    background-color: #ffe401;
    padding: 1px 12px;
  }
}

@media (min-width: 992px) {
  .main-logo-lg {
    height: 60px;
  }
}

.space{
  margin-top: 76px;
}

.space-1 {
  margin-top: -24px;
}

.background {
  background-color: #f72111;
}

header a:hover {
  text-decoration: none;
  color: #f72111;
}

.light-bar {
  color: #ddd;
}

header a{
  letter-spacing: 0;
}

.list-inline-item {
  font-size: 16px;
  letter-spacing: 0;
  font-stretch: ultra-condensed;
}

.font-2 {
  font-size: 15px;
  font-stretch: ultra-condensed;
}

.title {
  font-stretch: ultra-condensed;
}