.icon-hover:hover {
  color: #3f6ad8;
}

.logo {
  fill: #f72111;
}

.red-text {
  color: #f72111;
}

.bottom-footer a:hover {
  text-decoration: none;
  color: #333;
}

body {
  overflow-x: hidden;
}

.vc {
  width: 30px;
  height: 30px;
  background-color: black;
  position: absolute;
  left: 50%;
  margin-top: -24px;
}

.sponsor-portion {
  margin-top: -60px;
}

.n-word {
  height: 32px;
  width: 33px;
}

.line-height {
  line-height: 93%;
}

.line-height-1 {
  line-height: 130%;
}

.line-long {
  line-height: 150%;
}

.underline:hover {
  text-decoration: underline #f72111;
  color: black;
}

.none-decoration:hover {
  text-decoration: none;
  color: inherit;
}

.div-position,
.subscribe {
  position: relative;
}

.text-position {
  position: absolute;
  bottom: 0;
  left: 15px;
}

.text-position-culture {
  position: absolute;
  bottom: 0;
  left: 0;
}

.subscribe-1 {
  position: relative;
  top: -210px;
  left: 90px;
}

.subscribe-2 {
  position: relative;
}

.text-position-3 {
  position: absolute;
  bottom: -8px;
  left: 0;
}

.section-breaker {
  margin-top: 100px;
}
