@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

li,
a,
button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.space {
  margin-top: 150px !important;
}

.background {
  background-color: #f72111;
}

.button-border {
  border-radius: 18px;
  font-size: 18px;
  background-color: #ffe401;
  padding: 1px 12px;
}

@media (min-width: 992px) {
  .space {
    margin-top: 80px !important;
  }
}

@media (max-width: 767px) {
  .button-border {
    border-radius: 17.5px;
    font-size: 13px;
    background-color: #ffe401;
    padding: 2px 10px;
  }
}

@media (min-width: 992px) {
  .main-logo-lg {
    height: 60px !important;
  }
}

.login {
  font-size: 18px;
}

.list-inline-item:not(:last-child) {
  margin-right: 0;
}

header a:hover {
  text-decoration: none;
  color: #f72111;
}

.light-bar {
  color: #ddd;
  font-weight: lighter;
}

.fa-lg:hover {
  color: #3f6ad8 !important;
}

.logo {
  fill: #f72111;
}

.bottom-footer a:hover {
  text-decoration: none;
  color: #333;
}

body {
  overflow-x: hidden;
}

.vc{
  width: 30px;
  height: 30px;
  background-color: black;
  position: absolute;
  left: 50%;
  margin-top: -20px;
}

.sponsor-portion {
  margin-top: -60px;
}

.n-word{
  height: 35px;
  width: 38px;
}

.line-height{
  line-height: 80%;
}

.line-long{
  line-height: 150%;
}

.underline:hover{
  text-decoration: underline #f72111;
  color: black;
}

.none-decoration:hover{
  text-decoration: none;
  color: inherit;
}
