.icon:hover {
  color: #3f6ad8 !important;
}

.logo {
  fill: #f72111;
}

.bottom-footer a:hover {
  text-decoration: none;
  color: #333;
}

body {
  overflow-x: hidden;
}

.vc {
  width: 30px;
  height: 30px;
  background-color: black;
  position: absolute;
  left: 50%;
  margin-top: -24px;
}

.sponsor-portion {
  margin-top: -60px;
}

.n-word {
  height: 35px;
  width: 38px;
}

.line-height {
  line-height: 80%;
}

.line-long {
  line-height: 150%;
}

.underline:hover {
  text-decoration: underline #f72111;
  color: black;
}

.none-decoration:hover {
  text-decoration: none;
  color: inherit;
}
