.selector-for-some-widget {
    box-sizing: content-box;
  }

.container-fluid{
    background-color: #F72710;
}

.navbar-brand{
    color: white;
    font-weight: bolder;
}

.form-inline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin:10px;
}

.form-inline .fa-user{
    order: 1;
}